html{
    margin:0;
}
body{
    margin:0;
}
body h1{
    font-family: 'Bitter', serif;
    font-size:35px;
}
body p{
    font-family: 'Open Sans', sans-serif;
    line-height: 200%
}
.main-parallax{
    background-image: url("../images/white-iphone.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second-parallax{
    background-image: url("../images/iphone-back.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.third-parallax{
    background-image: url("../images/iphone-wood.jpeg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content-header{
    text-align:center;
}
.content-text{
    display:inline-block;
    width: 30%;
}
.content-article{
    text-align: center;
}
.footer-styles{
    background-color: #22313F;
    color:#ECECEC;
    margin:0;
}
.footer-styles ul{
    margin:0;
}